
.DS_Store

SimpleGitVer/bin/Debug/Cake.SimpleGitVer.1.0.0.nupkg

SimpleGitVer/bin/Debug/Cake.SimpleGitVer.1.0.0.snupkg

SimpleGitVer/bin/Debug/net10.0/Cake.SimpleGitVer.deps.json

SimpleGitVer/bin/Debug/net10.0/Cake.SimpleGitVer.dll

SimpleGitVer/bin/Debug/net10.0/Cake.SimpleGitVer.pdb

SimpleGitVer/bin/Debug/net10.0/Cake.SimpleGitVer.xml

SimpleGitVer/bin/Debug/net8.0/Cake.SimpleGitVer.deps.json

SimpleGitVer/bin/Debug/net8.0/Cake.SimpleGitVer.dll

SimpleGitVer/bin/Debug/net8.0/Cake.SimpleGitVer.pdb

SimpleGitVer/bin/Debug/net8.0/Cake.SimpleGitVer.xml

SimpleGitVer/bin/Debug/net9.0/Cake.SimpleGitVer.deps.json

SimpleGitVer/bin/Debug/net9.0/Cake.SimpleGitVer.dll

SimpleGitVer/bin/Debug/net9.0/Cake.SimpleGitVer.pdb

SimpleGitVer/bin/Debug/net9.0/Cake.SimpleGitVer.xml

SimpleGitVer/cake-contrib-medium.png

SimpleGitVer/cakebadge.svg

SimpleGitVer/obj/Debug/Cake.SimpleGitVer.1.0.0.nuspec

SimpleGitVer/obj/Debug/Cake.SimpleGitVer.1.0.0.symbols.nuspec

SimpleGitVer/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs

SimpleGitVer/obj/Debug/net10.0/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net10.0/Cake.SimpleGitVer.pdb

SimpleGitVer/obj/Debug/net10.0/Cake.SimpleGitVer.xml

SimpleGitVer/obj/Debug/net10.0/ref/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net10.0/refint/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.AssemblyInfo.cs

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.AssemblyInfoInputs.cache

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.assets.cache

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.csproj.AssemblyReference.cache

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.csproj.CoreCompileInputs.cache

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.csproj.FileListAbsolute.txt

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.GeneratedMSBuildEditorConfig.editorconfig

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.GlobalUsings.g.cs

SimpleGitVer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs

SimpleGitVer/obj/Debug/net8.0/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net8.0/Cake.SimpleGitVer.pdb

SimpleGitVer/obj/Debug/net8.0/Cake.SimpleGitVer.xml

SimpleGitVer/obj/Debug/net8.0/ref/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net8.0/refint/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.AssemblyInfo.cs

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.AssemblyInfoInputs.cache

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.assets.cache

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.csproj.AssemblyReference.cache

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.csproj.CoreCompileInputs.cache

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.csproj.FileListAbsolute.txt

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.GeneratedMSBuildEditorConfig.editorconfig

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.GlobalUsings.g.cs

SimpleGitVer/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs

SimpleGitVer/obj/Debug/net9.0/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net9.0/Cake.SimpleGitVer.pdb

SimpleGitVer/obj/Debug/net9.0/Cake.SimpleGitVer.xml

SimpleGitVer/obj/Debug/net9.0/ref/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net9.0/refint/Cake.SimpleGitVer.dll

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.AssemblyInfo.cs

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.AssemblyInfoInputs.cache

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.assets.cache

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.csproj.AssemblyReference.cache

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.csproj.CoreCompileInputs.cache

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.csproj.FileListAbsolute.txt

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.GeneratedMSBuildEditorConfig.editorconfig

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.GlobalUsings.g.cs

SimpleGitVer/obj/project.assets.json

SimpleGitVer/obj/project.nuget.cache

SimpleGitVer/obj/project.packagespec.json

SimpleGitVer/obj/rider.project.model.nuget.info

SimpleGitVer/obj/rider.project.restore.info

SimpleGitVer/obj/SimpleGitVer.csproj.nuget.dgspec.json

SimpleGitVer/obj/SimpleGitVer.csproj.nuget.g.props

SimpleGitVer/obj/SimpleGitVer.csproj.nuget.g.targets

SimpleGitVer/bin/Debug/Cake.SimpleGitVer.1.1.0.nupkg

SimpleGitVer/bin/Debug/Cake.SimpleGitVer.1.1.0.snupkg

SimpleGitVer/bin/Debug/Cake.SimpleGitVer.1.2.0.nupkg

SimpleGitVer/bin/Debug/Cake.SimpleGitVer.1.2.0.snupkg

SimpleGitVer/obj/Debug/Cake.SimpleGitVer.1.1.0.nuspec

SimpleGitVer/obj/Debug/Cake.SimpleGitVer.1.1.0.symbols.nuspec

SimpleGitVer/obj/Debug/Cake.SimpleGitVer.1.2.0.nuspec

SimpleGitVer/obj/Debug/Cake.SimpleGitVer.1.2.0.symbols.nuspec

SimpleGitVer/obj/Debug/net10.0/SimpleGitVer.sourcelink.json

SimpleGitVer/obj/Debug/net8.0/SimpleGitVer.sourcelink.json

SimpleGitVer/obj/Debug/net9.0/SimpleGitVer.sourcelink.json

SimpleGitVer/bin/Debug/

SimpleGitVer/obj/Debug/
